<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

<body>
    
    <%- include("./partials/nav") %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Bla bla bla bla bla</p>
        <p>En eller annen tilfeldig tekst</p>
        <p>Dette er bare eksempel tekst</p>
    </div>
    <%- include("./partials/footer") %>
</body>
</html>